<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nnm.team91.mine">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mine_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".EditActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="activity_settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />

        <!-- Google Map API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Google Map Permission -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <!-- App Widget Permission -->
        <receiver android:name=".CustomWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".edit.EditTodoActivity" />
        <activity android:name=".DetailTodoActivity"></activity>
    </application>

</manifest>